.main-div {
max-width: 960px;

}

.tile {
    height: 20%;
    width : 20%;
    float: left;
}

.empty {
    background-color: aliceblue;
}

.food {
    background-color: red;

}

.snake {
    background-color: green;

}

.playground {
height: 500px;
width: 90%;


}